*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.menu{
    flex: 1;
}

.right-side-menu, .left-side-menu{
    background-color: #300a24;
    color: #ffffff;
    width: 20%;
    height: 100%;
    font-family: "Avenir Next", "Avenir", sans-serif;
    text-align: center;
    position: absolute;
    font-size: 25px;
    padding: 40px;
}

h2{
    text-transform: uppercase;
}


ul{
    list-style-type: none;
    padding: 30px;
}

li{
    padding: 25px;
}

li:nth-child(odd):hover{
    background-color: yellow;
    color: black;
}

li:hover{
    background-color: blue;
}

.render{
    border: blue solid 5px;
    height: 100vh;
    width: 100%;
    flex: 55;
    background-color: yellow;

}

.render .div1{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-left: 20px;
}

.render .div2{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-left: 50px;
}